{{ next_data('googleads', theme.googleads) }}

{%- if theme.googleads.post_ads_enable %}
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="{{theme.googleads.client_id}}"
     data-ad-slot="{{theme.googleads.post_ads_slot}}"></ins>
{%- endif %}